<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block title %}
			<title>IDDEES</title>
		{% endblock %}
		{# <link rel="stylesheet" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.min.css') }}"> {% block javascripts %}{% endblock %} #}
		<link rel="stylesheet" href="{{ asset( 'assets/css/style.css' )}}">
		<link rel="stylesheet" href="{{ asset( 'assets/css/navbar.css' ) }}">
		<link rel="stylesheet" href="{{ asset( 'assets/css/footer.css' ) }}">
		<link rel="stylesheet" href="{{ asset( 'assets/css/partners.css' ) }}">
	</head>

	<body>
		{% include "features/navbar.html.twig" %}
		{% block body %}{% endblock %}
		{% include "features/footer.html.twig" %}
		<script src="https://kit.fontawesome.com/c971cac520.js" crossorigin="anonymous"></script>
		<script src="{{ asset('assets/js/navbar.js')}}"></script>
		{# <script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.bundle.js') }}"></script> #}
	</body>
</html>
